@{
    ViewBag.Title = "Nintx URL Shortener";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Shorten your URL's here!
            </p>
        </div>
    </section>
}
<h3>Your URL to shorten:</h3>

@using (Html.BeginForm("SubmitUrl", "Account"))
{
    @Html.TextBox("longUrl")
    <input type="submit" value="Shorten" />
}  

<ol class="round">
    
</ol>
