@{
    ViewBag.Title = "Nintx URL Shortener";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Shorten your URL's here!
            </p>
        </div>
    </section>
}

<p style="color:red">
    <h3>@ViewBag.ErrorInvalidShortCode</h3>
</p>

<h3>Your URL to shorten:</h3>

@using (Html.BeginForm("SubmitUrl", "Account"))
{
    @Html.TextBox("longUrl")
    <input type="submit" value="Shorten" />
}  

<p style="color:red">
    <h3>@ViewBag.ErrorInvalidUrl</h3>
</p>
