@{
    ViewBag.Title = "UrlAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Nintx URL Shortener</h1>
            </hgroup>
            <p>
                Shorten your URL's here!
            </p>
        </div>
    </section>
}

<h1>URL Shortened! </h1>  

<p>
    Please use: 
    <h2><a href="http://nintxurlshortener.azurewebsites.net/@Model.ShortenedUrl">http://nintxurlshortener.azurewebsites.net/@Model.ShortenedUrl</a></h2>
</p>
