@{
    ViewBag.Title = "UrlAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>URL Shortened! </h1>  

<p>
    Please use: 
    <a href="http://nintxurlshortener.azurewebsites.net/@Model.ShortenedUrl">http://nintxurlshortener.azurewebsites.net/@Model.ShortenedUrl</a>
</p>
